
.error {
	color: red;
}

.messages {
//	position: fixed;
//	top: 10px;

	background-color:rgba(250,0,0,0.5);
	padding: 0.5em;
	border-style: solid;
	border-width: 1px;
	border-color: red;
	}


.obal {
	width: 80%; 
	margin-left: auto; 
	margin-right: auto;
	background-color: rgba(220,220,220,1);	;
}

.toolbox {
	//background-color:lightgreen;
	background-color: rgba(150,150,150,0.9);	
}

.toolbox ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  overflow: hidden;
 // background-color: #333;
}

.toolbox li {
  float: left;
 background-color: #333;

}

.toolbox li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

 .toolbox li a:hover {
  background-color: #222;
}


body { 
	background: lightblue url("images/notebook-1757220_1920.jpg") no-repeat fixed center;
  	text-align: center;
	font-family:  Arial, Helvetica, sans-serif;

}

header {
	height: 6em;
	padding 1em;
//	background-color: rgba(200,200,200,0.4);		
}
header img {
	border-radius:18px;
	width:100px;
	padding: 10px;
	float:left;
}
header h1 {
	float:left;

}

.userinfo {
	background-color: rgba(200,200,250,0.8);
	float: right;
	padding: 1em;
	font-size: 0.85em;
}

nav {
	height: 3em;
	//padding: 1em;
	background-color: rgba(100,100,100,0.9);	
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  //background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #222;
}

.active {
  background-color: red;
}


article {
//	background-color: rgba(200,200,200,1.0);	

}

footer {
	background-color: rgba(100,100,100,0.5);
	padding: 10px;	

}

form {
//	width: 50%;
	padding:1em;
  	text-align: left;
}
input[type=text], input[type=password]{
  width: 50%;
  padding: 5px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #555;
  outline: none;
}

input[type=text]:focus {
  background-color: lightblue;
}
input[type=submit], input[type=reset] {
    padding:15px 35px; 
    background:#555;
	color: white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=submit]:hover, input[type=reset]:hover {
	background-color: #222;

}

.tabobal {
	overflow-x:auto;


}

//tabulka
table {
	border-collapse: collapse;
	
    	width: 100%;
	//margin-left: auto;
	 //margin-right: auto;
	//display: inline-block;

}

th, td {
  padding: 8px;
  text-align: center;
  //border-bottom: 1px solid black ;
}
th {
 // background-color: rgb(10,150,150);
 background-color: navy;
	height: 2em;

  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: lightblue;}
